@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body,
html {
  height: 100vh;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
input,
textarea,
button {
  font-family: "Merriweather", serif;
}

input,
textarea {
  font-weight: 300;
  font-style: italic;
  font-size: 16px !important;
}

body {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

html {
  height: -moz-available;
  height: fill-available;
  height: -webkit-fill-available;
}

section {
  min-height: 100vh;
  padding: 3rem;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  section {
    padding: 1.5rem;
  }
}

.bracket::before {
  content: "{";
  margin: 0 0.25em;
  color: #6BDBA9;
}

.bracket::after {
  content: "}";
  margin: 0 0.25em;
  color: #6BDBA9;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 6rem;
}
.header .profile {
  background: url(https://avatars.githubusercontent.com/u/68661509?v=4);
  background-size: contain;
  border-radius: 50%;
  z-index: -1;
  display: inline;
  vertical-align: sub;
}
.header h1,
.header h2 {
  padding: 0;
  margin: 0;
}
.header h1 {
  position: relative;
  font-size: 6rem;
  font-weight: 800;
  line-height: 0.75;
  font-optical-sizing: auto;
  color: #6BDBA9;
  background: linear-gradient(214deg, #ADEBCF 0%, #008A46 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 3rem 0;
  overflow-wrap: break-word;
}
.header h2 {
  font-size: 2rem;
  font-weight: 200;
  color: #6BDBA9;
}
@media screen and (max-width: 750px) {
  .header h1 {
    font-size: 4rem;
  }
  .header h2 {
    font-size: 1.75rem;
  }
  .header .profile {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 530px) {
  .header h1 {
    font-size: 3rem;
  }
  .header h2 {
    font-size: 1.5rem;
  }
  .header .profile {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 370px) {
  .header .lastName {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 500px) {
  .header .profile {
    position: absolute;
    top: -10px;
    left: 0;
  }
  .header h1 {
    line-height: 3.5rem;
  }
}
.header .down {
  transform: scale(1.5);
  z-index: -1;
  margin-top: -1;
  margin-top: 6rem;
}
.header::before {
  content: "";
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: calc(100% - 4.5rem);
  height: 1rem;
  background: linear-gradient(214deg, #ADEBCF 0%, #008A46 100%);
  z-index: -1;
}
@media screen and (max-width: 500px) {
  .header::before {
    top: 1.5rem;
    left: 1.5rem;
    width: calc(100% - 2rem);
  }
}
.header::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  width: 1rem;
  height: 150%;
  background: linear-gradient(214deg, #ADEBCF 0%, #008A46 50%, #fff 85%);
  z-index: -1;
}
@media screen and (max-width: 500px) {
  .header::after {
    top: 0.5rem;
    right: 1.5rem;
    height: 100%;
  }
}

.portfolio {
  position: relative;
}
.portfolio .carousel-container {
  position: relative;
}
.portfolio .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}
.portfolio .carousel-button.left {
  left: 0;
}
.portfolio .carousel-button.right {
  right: 0;
}
.portfolio .items {
  display: flex;
  position: absolute;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 2rem;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 2rem;
  padding-right: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  right: 0;
  gap: 2rem;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.portfolio .items::-webkit-scrollbar {
  display: none;
}
.portfolio .items .item {
  width: 275px;
  aspect-ratio: 8/16;
  border-radius: 2rem;
  overflow: hidden;
  scroll-snap-align: start;
  flex: 0 0 auto;
  /* Prevent items from shrinking */
  position: relative;
  box-shadow: 0 0 10px 0 #CDF3E2;
  border: rgb(68, 68, 68) 5px solid;
  outline: #2BBB82 5px solid;
}
.portfolio .items .item::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 10px;
  background: #CDF3E2;
  border-radius: 1rem;
  z-index: 0;
}
.portfolio .items .item .btn {
  position: absolute;
  top: 30px;
  width: -moz-fit-content;
  width: fit-content;
  left: 10px;
  right: 0;
  transform: translateY(-50%);
  background: #CDF3E2;
  color: #4ACB96;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 800;
  cursor: pointer;
  transition: all ease-in-out 500ms;
  text-transform: uppercase;
}
.portfolio .items .item .btn:hover {
  background: #6BDBA9;
  color: #004A00;
}
.portfolio .items .item img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .items .item .text.show {
  transform: translateY(0%);
  opacity: 1;
}
.portfolio .items .item .text {
  position: absolute;
  bottom: 0;
  background: #CDF3E2;
  transform: translateY(100%);
  opacity: 0;
  transition: all ease-in-out 500ms;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  z-index: 2;
  width: 245px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  letter-spacing: 0.9px;
  padding: 1rem;
}
.portfolio .items .item .text p {
  width: 80%;
}
.portfolio .items .item .text a {
  color: #008A46;
  font-size: 0.9rem;
  text-align: center;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  padding: 0.5rem 1.5rem;
  border: #008A46 1px solid;
  border-radius: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
}
.portfolio .items .item .text .icon {
  color: #6BDBA9;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: -50%;
  border: #4ACB96 1px solid;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 1.25rem;
  background: #CDF3E2;
  z-index: 1;
  margin: auto;
}
.portfolio .items .item .text::before {
  content: "";
  position: absolute;
  bottom: 35%;
  left: 3rem;
  width: 75%;
  height: 1rem;
  background: linear-gradient(214deg, #EEFBF5 0%, #008A46 100%);
  z-index: -1;
  opacity: 0.35;
}
.portfolio .items .item .text::after {
  content: "";
  position: absolute;
  bottom: calc(35% + 2rem);
  right: 3rem;
  width: 75%;
  height: 1rem;
  background: linear-gradient(214deg, #008A46 0%, #EEFBF5 100%);
  z-index: -1;
  opacity: 0.35;
}
.portfolio .count {
  width: 50%;
  margin: 0 auto;
  background: #CDF3E2;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.portfolio .count:hover {
  background: #6BDBA9;
  color: #004A00;
}
.portfolio .count .dot {
  color: #2BBB82;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  letter-spacing: 0.9px;
  text-align: left;
}
.text h2 {
  border-bottom: #6BDBA9 2px solid;
}
.text p {
  width: 80%;
}
.text .icon {
  color: #6BDBA9;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  bottom: calc(35% + 4rem);
  right: 0;
  left: 0;
}
.text::before {
  content: "";
  position: absolute;
  bottom: 35%;
  left: 3rem;
  width: 75%;
  height: 1rem;
  background: linear-gradient(214deg, #EEFBF5 0%, #008A46 100%);
  z-index: -1;
}
.text::after {
  content: "";
  position: absolute;
  bottom: calc(35% + 2rem);
  right: 3rem;
  width: 75%;
  height: 1rem;
  background: linear-gradient(214deg, #008A46 0%, #EEFBF5 100%);
  z-index: -1;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.contact h2 {
  border-bottom: #6BDBA9 2px solid;
  position: relative;
}
.contact h2::before {
  content: "";
  position: absolute;
  top: -120%;
  right: 0;
  width: 4rem;
  height: 4rem;
  background: linear-gradient(214deg, #ADEBCF 0%, #008A46 100%);
  z-index: -1;
  border-radius: 100%;
  opacity: 0.5;
}
.contact h2::after {
  content: "";
  position: absolute;
  top: -100%;
  right: 4.5rem;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(195deg, #ADEBCF 0%, #008A46 100%);
  z-index: -1;
  border-radius: 100%;
  opacity: 0.5;
}
.contact form {
  margin-bottom: 2rem;
}
.contact form label {
  font-weight: 800;
  color: #008A46;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  display: block;
}
.contact form input,
.contact form textarea,
.contact form button {
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #004A00;
  border-radius: 0.5rem;
  background: transparent;
  color: #6BDBA9;
  font-size: 1.2rem;
  font-weight: 200;
  outline: none;
  transition: all 0.2s ease-in-out;
  resize: none;
  box-shadow: 0 0 10px 0 #CDF3E2;
}
.contact form input:focus,
.contact form textarea:focus,
.contact form button:focus {
  border: 1px solid #6BDBA9;
}
.contact form button {
  width: 100%;
  cursor: pointer;
  font-weight: 800;
  border: 1px solid #6BDBA9;
  transition: all 0.2s ease-in-out;
}
.contact form button:hover {
  background-color: #6BDBA9;
  color: #004A00;
}
.contact form input {
  width: 95%;
  margin: 0 auto;
}
.contact form textarea {
  width: 95%;
  margin: 0 auto;
}
.contact form .bolder {
  font-weight: 800;
  color: #6BDBA9;
}

#social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@keyframes magnifyingGlassRotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}
.social {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 2fr 2fr 2fr;
  gap: clamp(1rem, 7vw, 6rem);
  color: #6BDBA9;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
}
.social a {
  padding: 0;
  margin: 0;
  color: #007A33;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.social a i {
  font-size: 2rem;
  margin-bottom: 0.15em;
  background-color: #8CE3BC;
  color: rgb(0, 0, 0);
  padding: 12px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}
.social a i:hover, .social a i:focus, .social a i:focus-visible {
  animation: rotate 1s ease-in-out;
}
@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg);
  }
}
.social a h6 {
  margin: 0;
  font-weight: 200;
}
.social a:focus *, .social a:focus-within *, .social a:focus-visible * {
  color: #ADEBCF;
}
.social a:nth-child(2n) {
  animation: toRight 0.7s;
}
.social a:not(:nth-child(2n)) {
  animation: toLeft 0.7s;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}/*# sourceMappingURL=main.css.map */