$b1: #EEFBF5;
$b2: #CDF3E2;
$b3: #ADEBCF;
$b4: #8CE3BC;
$b5: #6BDBA9;
$b6: #6BDBA9;
$b7: #4ACB96;
$b8: #2BBB82;
$b9: #0BAA6D;
$b10: #009A59;
$b11: #008A46;
$b12: #007A33;
$b13: #006A20;
$b14: #005A0D;
$b15: #004A00;

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

body,
html {
    height: 100vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

*,
input,
textarea,
button {
    font-family: "Alegreya", serif;
}

body {
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
}

html {
    height: fill-available;
    height: -webkit-fill-available;
}

section {
    height: 100vh;
    padding: 3rem;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;

    @media screen and (max-width: 500px) {
        padding: 1.5rem;
    }
}

.bracket::before {
    content: "{";
    margin: 0 0.25em;
    color: $b6;
}

.bracket::after {
    content: "}";
    margin: 0 0.25em;
    color: $b6;
}


.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 6rem;

    .profile {
        background: url(https://avatars.githubusercontent.com/u/68661509?v=4);
        background-size: contain;
        border-radius: 50%;
        z-index: -1;
    }

    h1,
    h2 {
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 6rem;
        font-weight: 800;
        line-height: .75;
        font-optical-sizing: auto;
        color: $b5;
        font-family: "Alegreya", serif;
        background: linear-gradient(214deg, $b3 0%, $b11 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 3rem 0;
    }

    h2 {
        font-size: 2rem;
        font-weight: 200;
        color: $b6;
    }

    .down {
        // filter the color of the image
        transform: scale(1.5);
        z-index: -1;
        margin-top: -1;
        margin-top: 6rem;
    }

    &::before {
        content: "";
        position: absolute;
        top: 3rem;
        left: 3rem;
        width: calc(100% - (3rem + 1.5rem));
        height: 1rem;
        background: linear-gradient(214deg, $b3 0%, $b11 100%);
        z-index: -1;

        @media screen and (max-width: 500px) {
            top: 1.5rem;
            left: 1.5rem;
            width: calc(100% - 3rem);
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 1.5rem;
        right: 3rem;
        width: 1rem;
        height: calc(150%);
        background: linear-gradient(214deg, $b3 0%, $b11 50%, #fff 85%);
        z-index: -1;

        @media screen and (max-width: 500px) {
            top: 1.5rem;
            right: 1.5rem;
            height: calc(100%);
        }
    }
}


.text {
    h2 {
        border-bottom: $b5 2px solid;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    letter-spacing: 0.9px;
    text-align: left;

    p {
        width: 80%;
    }

    .icon {
        color: $b6;
        font-size: 2rem;
        text-align: center;
        position: absolute;
        bottom: calc(35% + 4rem);
        right: 0;
        left: 0;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 35%;
        left: 3rem;
        width: 75%;
        height: 1rem;
        background: linear-gradient(214deg, $b1 0%, $b11 100%);
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: calc(35% + 2rem);
        right: 3rem;
        width: 75%;
        height: 1rem;
        background: linear-gradient(214deg, $b11 0%, $b1 100%);
        z-index: -1;
    }
}

.contact {

    h2 {
        border-bottom: $b5 2px solid;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -120%;
            right: 0;
            width: 4rem;
            height: 4rem;
            background: linear-gradient(214deg, $b3 0%, $b11 100%);
            z-index: -1;
            border-radius: 100%;
            opacity: 0.5;
        }

        &::after {
            content: "";
            position: absolute;
            top: -100%;
            right: 4.5rem;
            width: 2rem;
            height: 2rem;
            background: linear-gradient(195deg, $b3 0%, $b11 100%);
            z-index: -1;
            border-radius: 100%;
            opacity: 0.5;
        }
    }

    form {

        margin-bottom: 2rem;

        input,
        textarea,
        button {
            padding: 0.5em;
            margin: 0.5em 0;
            border: 1px solid $b15;
            border-radius: .5rem;
            background: transparent;
            color: $b6;
            font-size: 1.2rem;
            font-weight: 200;
            outline: none;
            transition: all 0.2s ease-in-out;
            resize: none;

            box-shadow: 0 0 10px 0 $b2;

            &:focus {
                border: 1px solid $b5;
            }
        }

        button {
            width: 100%;
            cursor: pointer;
            font-weight: 800;
            border: 1px solid $b6;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: $b5;
                color: $b15;
            }

        }

        input {
            width: 95%;
            margin: 0 auto;
        }
        textarea {
            width: 95%;
            margin: 0 auto;
        }

        .bolder {
            font-weight: 800;
            color: $b6;
        }



    }
}

.social {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 2fr 2fr 2fr;
    gap: clamp(1rem, 7vw, 6rem);
    color: $b6;

    max-width: fit-content;
    margin: 0 auto;
    padding-top: 2rem;

    padding-bottom: 4rem;

    a {
        padding: 0;
        margin: 0;
        color: $b12;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
        text-decoration: none;
        position: relative;
        font-size: 1.6rem;
        letter-spacing: 1px;

        i {
            font-size: 2rem;
            margin-bottom: 0.15em;
            background-color: $b4;
            color: rgb(0, 0, 0);
            padding: 12px;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform .3s ease-in-out;

            &:hover,
            &:focus,
            &:focus-visible {
                animation: rotate 1s ease-in-out;

                @keyframes rotate {
                    from {
                        transform: rotate(0deg) scale(1);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        h6 {
            margin: 0;
            font-weight: 200;
        }



        &:focus,
        &:focus-within,
        &:focus-visible {
            * {
                color: $b3;
            }
        }

        &:nth-child(2n) {
            animation: toRight .7s;
        }

        &:not(:nth-child(2n)) {
            animation: toLeft .7s;
        }

    }
}